body {
  font-family: "Roboto", sans-serif;
  color: #393e46;
}

form {
  display: block;
  margin: 0 0 10px;
  text-align: center;
}

input {
  padding: 5px 15px;
  border: 1px #ebedee;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  margin: 0;
}

h2 {
  font-weight: lighter;
  font-size: 25px;
  margin: 0 0 20px;
}

ul {
  margin-bottom: 10px;
}

li {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

a:link {
  text-decoration: none;
}

footer {
  font-size: 10px;
  text-align: center;
  padding: 10px;
}

.weather-app-wrapper {
  max-width: 430px;
  margin: 30px auto;
}

.container {
  border: 1px solid #ebedee;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey;
  padding: 30px;
  display: block;
}

.current-weather {
  position: relative;
  right: -40px;
}

.current-weather-icon {
  width: 110%;
  margin: 0 auto;
  position: relative;
  left: -50px;
  bottom: -15px;
}

.current-temperature {
  font-size: 70px;
  line-height: 1;
  position: relative;
  right: 10px;
}

.temperature-unit {
  position: relative;
  top: -38px;
  right: 10px;
}

.description .active {
  color: #393e46;
  cursor: default;
}

.description .active:hover {
  text-decoration: none;
}

.forecast {
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  text-align: center;
  width: 380px;
}

.forecast-weather-icon {
  width: 110%;
  margin: 0 auto;
}
